Library/
Assets/Standard Assets/
Assets/SampleScenes/
Assets/EffectExamples/
Temp/
ProjectSettings/
Assets/EffectExamples.meta
UnityPackageManager/
Momo Alpha v1/Assets/SampleScenes/
Momo Alpha v1/Assets/EffectExamples/
Momo Alpha v1/Assets/Standard Assets/
Momo Alpha v1/Assets/Standard Assets.meta
Momo Alpha v1/Assets/SampleScenes.meta
Momo Alpha v1/Assets/EffectExamples.meta
Momo Alpha v1/.collabignore
Builds/
Assets/Substance/
Assets/Substance.meta
